.row
    
    .col-md-5
        .panel.panel-default
            .panel-body Sales
    .col-md-offset-1.col-md-5
        .panel.panel-default
            .panel-body Demos
.row
    .col-md-5
        .panel.panel-default
            .panel-body Merch
    .col-md-offset-1.col-md-5
        .panel.panel-default
            .panel-body Export
