.row
    .col-md-5
        .panel.panel-default
            .panel-body Demo Reports
                button.btn.btn-default(href="#") Add
                button.btn.btn-default(href="#") Remove
    .col-md-offset-1.col-md-5
        .panel.panel-default
            .panel-body View
.row
    .col-md-5
        .panel.panel-default
            .panel-body Demo Schedule
                button.btn.btn-default(href="#") View
    .col-md-offset-1.col-md-5
        .panel.panel-default
            .panel-body Archive
                .input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            i.fa.fa-search.fa-1x
