.row
    .col-md-5
          .panel.panel-default
            .panel-body Saved Reports
                button.btn.btn-default(href="#") Add
                button.btn.btn-default(href="#") Edit
    .col-md-offset-1.col-md-5
          .panel.panel-default
            .panel-body Fields
                input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            i.fa.fa-search.fa-1x
                .jumbotron
.row
    .col-md-5
       .panel.panel-default
            .panel-body Settings:
                button.btn.btn-default(href="#") Submit
    .col-md-offset-1.col-md-5
         .panel.panel-default
            .panel-body Export Draft
                .jumbotron
            button.btn.btn-default(type="button") View