form.form-horizontal
      .form-group
        label.col-sm-2.control-label(ng-repeat="fields in vm.fields"){{fields}}
        .col-sm-10(ng-repeat="")
          input#inputEmail3.form-control()
      