
.row
    
    .col-md-5
        .panel.panel-default
           .panel-body Merch Reports
                button.btn.btn-default(href="#") Add
                button.btn.btn-default(href="#") Edit
    .col-md-offset-1.col-md-5
        .panel.panel-default
             .panel-body Views
                .jumbotron
.row
    .col-md-5
        .panel.panel-default
             .panel-body Merch Schedule
                button.btn.btn-default(href="#") View
    .col-md-offset-1.col-md-5
        .panel.panel-default
            .panel-body
                input-group
                    input.form-control(type="text", placeholder="Search")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            i.fa.fa-search.fa-1x