html
  head
    include ./includes/bootstrap.jade
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script System.import('app-angular');
    style
      | body { padding-top: 70px; }
    block title
      title Hello world!

  body 
    if isAuthenticated()
      include ./navbar/dashnav.jade
    else
      include ./navbar/loginnav.jade


    .container
      block body
        ng-view
            