nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar 
            a.navbar-brand(href="/#/dashboard") Higashi
        #navbar.navbar-collapse.collapse
            ul#nav.nav.navbar-nav
                li
                    a.mobile(href='/#/dashboard') Dashboard
                li 
                    a.mobile(href='/#/sales') Sales
                li 
                    a.mobile(href='/#/demo') Demos
                li 
                    a.mobile(href='/#/merch') Merch
                li 
                    a.mobile(href='/#/export') Export
                li
                    a.mobile(href='/users/logout') Logout
                li
                    a.mobile| Hello #{user.username}!