nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") Higashi
        .collapse.navbar-collapse.navbar-right
          if !isAuthenticated()
            ul.nav.navbar-nav
              li.nav.navbar-nav
                a(href='/users/login') Sign In
              li.nav.navbar-nav
                a(href='/users/register') Register